* {
	margin: 0;
	padding: 0;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(50, 81, 97);
	width: 100%;
	height: 350px;
}

.twoColors {
	display: flex;
}

.block {
	width: 50%;
	height: 100px;
	background-color: rgb(76, 34, 34);
}

.greenBlock {
	background-color: rgb(56, 89, 41);
}

@media only screen and (max-width: 640px) {
	.twoColors {
		flex-direction: column;
	}

	.block {
		width: 100%;
	}
}
