* {
	margin: 0;
	padding: 0;
}

.carsTable,
.carsTable th,
.carsTable td {
	border: 1px solid black;
	border-collapse: collapse;
}

.carsTable th {
	background-color: rgb(185, 150, 217);
}

.carsTable {
	width: 100%;
	text-align: left;
}
